html {
  font-size: 14px;
}

/* Plotly hover text */
.hoverlayer {
  opacity: .85;
}

#logo {
  padding: 10px;
  width: 60%;
}
.skip a,
.skip a:hover,
.skip a:visited {
  position: absolute;
  left: -999px;
}
.skip a:active,
.skip a:focus {
  display: block;
  left: 0;
  z-index: 999;
  background: #fff;
  border: 1px solid #000;
  padding: 5px 5px 5px 5px;
}

.stage {
  font-weight: bold;
  font-size: large;
  margin-bottom: 10px;
  /* font-family:Helvetica; */
}

.jpsurv-label-container {
  margin-bottom: 5px;
  clear: both;
}
.jpsurv-label {
  font-weight: 700;
  margin-bottom: 5px;
  max-width: 100%;
}
.jpsurv-label-content {
  margin-left: 5px;
  max-width: 90%;
  overflow: hidden;
  clear: both;
}
.jpsurv-button {
  margin-top: 5px;
  margin-right: 10px;
}

fieldset.jpsurv-fieldset {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #dae4e8;
  margin-bottom: 10px;
  display: none;
}

legend.jpsurv-legend {
  /*
  padding: 0.2em 0.5em;
  color:green;
  font-size:90%;
  */
  padding: 0.2em 0.5em;
  font-size: 90%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 6px;
  border: 1px solid #dae4e8;
  margin-bottom: 0px;
  margin-left: 10px;
  width: auto;
}

.co-value-container {
  padding: 5px 0px;
}

.plot-instructions {
  margin-top: 200px;
}

hr.stage-separator {
  margin-top: 10px;
}

.plot-container {
  padding: 200px 25px;
  margin-left: 40px;
}

.tab-content {
  background: none repeat scroll 0 0 white;
  border-color: #d9d9d9;
  border-radius: 0 0 4px 4px;
  border-style: solid;
  border-width: 0 1px 1px;
  min-height: 600px;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}

.table.condense td {
  padding: 0.25rem 0.75rem;
}

td {
  white-space: nowrap;
}

.box {
  /* background: linear-gradient(to bottom, #feffff 0%, #feffff 50%, #e7f3fa 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); */
  background: #ffffff;
  border-radius: 8px;
  color: #666;
  margin-bottom: 18px;
  padding: 18px;
}

input[type='file'] {
  max-width: 90%;
}

.collapse-expand {
  background-repeat: no-repeat;
  float: right;
  margin-right: 66.67%;
}

.fa-caret-right {
  color: #337ab7;
  cursor: pointer;
}

.fa-caret-left {
  color: #337ab7;
  cursor: pointer;
}

.fa-spin {
  color: deepskyblue;
  display: block;
  margin: auto;
  font-size: 10rem;
}

.slide {
  transform: translate(-400px, 0px);
  transition: 0.4s ease-in;
}

#slideout #slideoutTab {
  position: relative;
  transform: rotate(180deg);
  transform-origin: 0% 0%;
  float: right;
  display: block;
  transition: 0.3s ease-in;
}
#slideout #slideoutTab a {
  position: fixed;
  height: auto;
  font-weight: bold;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  transition-duration: 0.1s;
}

.advanced {
  color: #007bff;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  margin-right: 10px;
}

.advanced:hover {
  -webkit-transform: translate(1px, 1px);
  -moz-transform: translate(1px, 1px);
  -ms-transform: translate(1px, 1px);
  -o-transform: translate(1px, 1px);
  transform: translate(1px, 1px);
  text-decoration: underline;
  cursor: pointer;
}

#cohort-join-points {
  border: 1px solid #dddddd;
  padding: 10px 10px 0px;
}

#header-cohort-name,
#header-cohort-value {
  margin-left: 7px;
  color: #777777;
  background-color: #f2f2f2;
}

#help-tab {
  height: 600px;
  overflow-y: scroll;
}
.cursor-pointer {
  cursor: pointer;
}

:disabled {
  cursor: not-allowed;
}

.fa-question-circle {
  color: #337ab7;
}
#adv-options > div > label {
  max-width: 70%;
  margin-left: 10px;
}
.sm-input {
  max-width: 15%;
  font-size: 12px !important;
  height: 20px !important;
  line-height: 1.42857 !important;
  padding: 2px 2px !important;
  margin-right: 10px;
}

.model-number {
  white-space: nowrap;
}
#cohort-variables > div > div > fieldset {
  border: 1px;
  padding: 0px;
  margin: 0px;
  /* line-height: 1; */
}
#cohort-variables > div > div > fieldset > legend {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0px;
  color: #666;
}
.form-horizontal .checkbox {
  min-height: 22px;
  padding-top: 0px;
  height: 18px;
  min-height: 18px;
}
.checkbox input[type='checkbox'],
.checkbox-inline input[type='checkbox'],
.radio input[type='radio'],
.radio-inline input[type='radio'] {
  margin-left: -20px;
  margin-right: 10px;
  position: static;
}

#cohort-variables > div {
  padding-bottom: 10px;
}

.model-select-row {
  padding-left: 15px;
}
#e-mail {
  width: 250px;
}

.jpsurv-title {
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .form-inline .radio input[type='radio'],
  .form-inline .checkbox input[type='checkbox'] {
    float: left;
    margin-right: 5px;
  }
}
#ribbon h1 a {
  color: #fff;
  font-size: 26px;
  text-decoration: none;
  display: inline-block;
  padding: 9px 0;
  line-height: 1;
  margin-right: 140px;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  transition: 0.3s all linear;
  text-shadow: none;
}

#ribbon h1 {
  /* font-family: "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif; */
  padding: 0;
  margin: 0;
  letter-spacing: 0.015em;
  font-weight: normal;
  background: url('https://surveillance.cancer.gov/images/dccps_logo.png') right -5px no-repeat;
}
#ribbon {
  color: #fff;
  background: #2a71a5;
  padding: 0 24px;
}

#header {
  background-color: #2a71a5;
}

#data_table_wrapper th {
  font-weight: normal;
}

#data_table_wrapper th:nth-child(1) {
  border-left: 1px solid #ddd;
}

#data_table_wrapper th:last-child {
  border-right: 1px solid #ddd;
}

#data_table td:nth-child(1) {
  border-left: 1px solid #ddd;
}

#data_table td:last-child {
  border-right: 1px solid #ddd;
}
#modalContent thead th,
#modalContent thead td {
  max-width: 100px !important;
  min-width: 100px !important;
  text-align: center !important;
  line-height: 0 !important;
}
#modalContent td {
  line-height: 0;
  text-align: center !important;
}
#column_values {
  max-width: 100%;
  width: 100%;
  margin-left: 0px;
}

#Adv_input.btn[disabled] {
  color: black;
}

.cursor {
  cursor: pointer;
}

/** Bootstrap button overrides that are WCAG AA compliant  ***/
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #165a9e;
  border-color: #104376;
}
.btn-primary:active,
.btn-primary.active,
.open .btn-primary.dropdown-toggle {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*****************/
/* ToolTips      */
/*****************/

div.tooltip-inner {
  border: none;
  background-color: #505050;
  color: #ffffff;
  font-size: 12px;
  padding: 0.5rem 1rem;
  text-align: left;
}

#selected-interval-years,
#selected-interval-years-death {
  margin-left: 5px;
  margin-top: 5px;
  padding-left: 20px;
}

footer {
  margin-top: 20px;
  padding: 25px 0;
  background-color: #2a71a5;
}

footer ul {
  text-align: center;
}

footer ul li a {
  color: white;
}

html body footer {
  bottom: 0;
  width: 100%;
}

@media (max-width: 767px) {
  #input_type_select > div:nth-child(2) {
    white-space: normal;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* Fixed table header */
.table thead th {
  position: sticky;
  top: 0;
  color: white;
  background-color: #2e7bb2;
  border-top: none;
}

/* Table border radius */
thead th:first-child {
  border-top-left-radius: 8px;
}

thead th:last-child {
  border-top-right-radius: 8px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

/* position modal center */
#calculating-spinner .modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

.info {
  background: #d9edf7 !important;
}

.bg-primary {
  background-color: #2a71a5 !important;
}

.nav-link {
  font-size: 1rem;
  color: black;
}

.nav-link.active {
  color: #007bff !important;
}

.btn {
  font-size: 1rem;
}

#warning-wrapper .recalculate:disabled {
  pointer-events: none;
}

span.select2 {
  font-weight: normal;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #d9edf780;
}
